#dried-compositions-page {
	#ajax-status {
		display: block;
		position: fixed;
		right: 1em;
		font-style: italic;
	}
	label {
		display: inline-block;
		min-width: 12em;
	}

	.input-group input:not([type="checkbox"]) {
		width: 20em;
	}

	.input-group-checkbox {
		display: inline-block;
	}

	.composition-list {
		.inactive {
			h4 {
				opacity: 0.5;
			}
		}
	}

	.collapsible {
		overflow: hidden;
		height: auto;
		&.collapsed {
			height: 0;
		}
		&:not(.collapsed) {
			margin-left: 1em;
			padding: 1em;
		}
	}

	.collapse-toggle {
		cursor: pointer;
		margin: 0;
	}
}