#dried-compositions-page #ajax-status {
  display: block;
  position: fixed;
  right: 1em;
  font-style: italic; }
#dried-compositions-page label {
  display: inline-block;
  min-width: 12em; }
#dried-compositions-page .input-group input:not([type="checkbox"]) {
  width: 20em; }
#dried-compositions-page .input-group-checkbox {
  display: inline-block; }
#dried-compositions-page .composition-list .inactive h4 {
  opacity: 0.5; }
#dried-compositions-page .collapsible {
  overflow: hidden;
  height: auto; }
  #dried-compositions-page .collapsible.collapsed {
    height: 0; }
  #dried-compositions-page .collapsible:not(.collapsed) {
    margin-left: 1em;
    padding: 1em; }
#dried-compositions-page .collapse-toggle {
  cursor: pointer;
  margin: 0; }

/*# sourceMappingURL=admin-compositions-page.css.map */
