@import 'vars.scss';

$bg-blur-dist: 4px;

body {
    padding-bottom: 0;
}

.highlight {
    background: $black;
    color: $white;
    padding: 0.2rem;
    box-shadow: hsl(0, 0%, 20%) 0.5rem 0.5rem 2rem -0.7rem;

    a {
        color: $white;
    }
}

// 
// filters
// 

.filter-list {
    @extend .highlight;
    display: block;
    position: sticky;
    top: 1em;
    padding: 0.4em;
    font-size: 0.8em;

    width: #{1 / 0.8 * 50em};

    list-style: none;
    z-index: 2;
}

.filter__list-item {
    display: inline-block;
    margin-right: 1rem;

    &:first-of-type {
        margin-left: 0.5rem;
    }

    &:last-of-type {
        margin-right: 0;
    }

}

.filter__label {
    display: inline-block;
}

.filter__input {
    display: none;
}

.filter__label {
    display: block;
    padding: 0.2rem;
    cursor: pointer;
    background: none;

    
    // unchecked state
    border: thin solid $white;
    color: $white;

    // checked state
    .filter__input:checked ~ & {
        background: $white;
        color: $black;
    }
}

// container
.wrap {
    overflow: visible;
}

// project
.digital_project {
    display: block;
    width: 100vw;
    min-height: 100vh;

    &:first-of-type {
        margin-top: 0;
        padding-top: 3rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &.hidden {
        display: none;
    }

    // margin and padding of first visible el
    &:not(.hidden) {
        margin: 0 0 4rem;
        padding: 3rem 0 6rem;
    }

    // margin and padding of every el that's not the first visible
    &:not(.hidden) ~ &:not(.hidden) {
        margin: 4em 0;
        padding: 6rem 0;
    }

    header {
        text-align: left;
    }

    .post-title {
        display: inline-block;
        line-height: 1.5em;
    }

    .technologies p {
        display: inline;
    }

    .entry {
        display: block;
        margin-top: 2rem;
        color: $white;

        & > * {
            max-width: 35rem;
            @extend .highlight;
        }

        & > .wp-post-image {
            float: right;
            width: calc(100% - 37rem);
            padding: 0;
            max-height: 23.33333rem;
            object-fit: cover;
            object-position: top;
        }
    }

    header, .entry {
        transition: opacity 500ms ease;
    }

    .post-bg {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        z-index: -1;
        transition: opacity 50ms;
        opacity: 0;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            background: linear-gradient(transparent, hsla(0, 0, 40, 0.3));
            width: 100%;
            height: 50%;
            bottom: -2px;
            opacity: 0.5;
        }

        img {
            display: block;
            position: absolute;
            top: 0 - $bg-blur-dist * 2;
            right: 0 - $bg-blur-dist * 2;
            bottom: 0 - $bg-blur-dist * 2;
            left: 0 - $bg-blur-dist * 2;
            width: calc(100% + #{$bg-blur-dist * 4});
            height: calc(100% + #{$bg-blur-dist * 4});
            object-fit: cover;
            object-position: top;
            filter: blur($bg-blur-dist);
            transition: filter 500ms ease;
        }
    }
}

@media only screen and (max-width: 60.5rem) {
    .digital_project .entry .wp-post-image {
        float: none;
        display: inline-block;
        margin: auto;
        width: 35rem;
        max-width: 100%;
    }
}
