@import 'boilerplate-head.scss';
@import 'vars.scss';

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

::selection {
	background: $white;
	color: $darkgray;
	text-shadow: none;
}
::-moz-selection {
	background: $white;
	color: $darkgray;
	text-shadow: none;
}

html {
	min-height: 100%;
}

body {
	padding: 3em 1em;
	background: $bggray;
	font-family: $sans-stack;
}

a {
	color: $black;
}

p, .item h4 {
	line-height: 1.618em;
}

img.circle {
	border-radius: 50%;
}

// Header
header {
	margin: 0 auto;
	text-align: center;

	a {
		text-decoration: none;
	}

	h1 {
		font-size: 1.666em;
		margin: 0 0 1rem 0;
		letter-spacing: 0.1em;
		text-transform: lowercase;
		font-weight: 700;
	}

	.headshot {
		width: 7rem;
		max-width: 100%;
	}

	.social {
		img {
			height: 1em;
			opacity: 0.5;
			margin-right: 0.333em;
		}
		& a:last-of-type img {
			margin-right: 0;
		}
	}

	.incipit {
		width: 15em;
		max-width: 100%;
		margin: 1rem auto;
		font-size: 0.8em;
		font-style: italic;
	}
}

// nav
nav {
	max-width: 100%;
	margin: 1em auto;
	text-align: center;

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		display: inline-block;

		font-size: 1.333em;
		line-height: 3.666em;
		padding: 0.5em;

		letter-spacing: 0.1em;
		text-transform: lowercase;
		font-weight: normal;
		text-decoration: none;
	}

	li.current-menu-item {
		a {
			font-weight: bold;
		}
	}
}

// page wrap
.wrap {
	position: relative;
	width: 50em;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

// intro on category pages
.post.category-intro {
	margin-bottom: 1em;
}

// callout
.callout {
	font-size: 1.2em;
	padding: 1em;
	text-align: center;

	.button {
		display: inline-block;
		padding: 1em;
		background: $white;

		margin-top: 1em;
		text-decoration: none;
		border-radius: 0.3em;
		box-shadow: $darkgray 0 0.2em 1em -0.3em;

		&:hover, &:focus {
			box-shadow: $darkgray 0 0.25em 1em -0.2em;
		}
		&:active {
			box-shadow: $darkgray 0 0.2em 1em -0.4em;
		}
	}
}

// posts in a loop
.post, .web {
	margin: 0 auto 9em;

	&:last-of-type {
		margin-bottom: 0;
	}

	header {
		background: $lightgray;
		padding: 1em;

		h1 {
			font-weight: normal;
			margin-bottom: 0;
		}

		.meta {
			margin-bottom: 0.66667rem;
		}
	}

	.post-title {
		margin-top: 0;
		a {
			text-decoration: none;
		}
	}

	aside {
		font-size: 0.8em;
	}
}

// a composition in the list
.post .composition {
	padding-bottom: 1em;
	font-size: 0.8em;

	h4 {
		margin: 0;
		float: left;
		.year {
			font-weight: normal;
		}
	}

	p {
		margin: 0 0 0 1.3333rem;
	}

	.list-details.duration {
		float: right;
		& + .list-details {
			clear: left;
		}
	}

	// embiggen les targets du cliques
	.links a {
		display: inline-block;
		padding: 0.333em;
		margin-top: -0.333em;
		margin-bottom: -0.333em;

		&:first-of-type {
			margin-left: -0.333em;
		}
	}
}

// WORDPRESS POST CONTENT STYLES
.entry, .post, .web {
	*:last-child {
		margin-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6, ul, ol, p {
		line-height: 1.618em;
		margin-bottom: 1rem;
	}

	p {
		margin: 1em 0;
	}

	ul {
		list-style: disc;
	}

	ul, ol {
		margin: 1em 0;
	}

	li {
		margin-left: 1.66em;

        ul, ol {
            margin-top: 0;
        }

        & > ul {
            list-style: circle;

            li > ul {
                list-style: square;
            }
        }
	}

	blockquote {
		padding-left: 1em;
		border-left: 2em solid $lightgray;
		@include fancy-serif();

		p {
			line-height: 1.33;
			font-size: 0.9em;
		}
	}

  [id^=attachment].alignnone {
    max-width: 100%;
  }

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin-right: 1em;
			max-width: 66.6667%;
		}

		&.alignright {
			float: right;
			margin-left: 1em;
			max-width: 66.6667%;
		}
	}

  .wp-caption-text,
  .wp-block-image figcaption {
    font-size: 0.8rem;
    text-align: right;
  }
}

// pagination nav
.pagination {
	display: flex;
	justify-content: space-between;
	margin-top: 9em;

	a {
		display: block;
		background: $lightgray;
		padding: 1em;
		text-decoration: none;
		transition: background 250ms ease;

		&:hover {
			background: $medgray;
		}

		&:focus {
			outline: thin dotted $lightblack;
		}

		&:active {
			outline: thin solid $lightblack;
		}
	}

	.next-posts a:before {
		content: "← ";
	}

	.prev-posts a:after {
		content: " →";
	}
}

// vertically condensed header for wider screens
@media only screen and (min-width: 45em) {
	.site-header {
		display: flex;
		max-width: 50em;
		justify-content: space-between;
		margin-bottom: 3rem;
	}

	.header__left {
		display: flex;
		flex-direction: column;
	}

	.header__right {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: 7rem;
	}

	.site-header h1 {
		margin: 1rem 0 0 0;
		order: 2;
	}

	.header__left a {
		order: 1;
	}

	.site-header .incipit {
		order: 3;
		margin: 0 auto;
	}

	.social {
		text-align: right;
	}

	.main-nav {
		margin: 1rem 0 0;
	}

	nav a {
		line-height: 1;
		padding: 0.5em 0 0.5em 1em;
	}
}

// reflow menu appropriately for narrower screens
@media only screen and (max-width: 37em) {
	nav.main-nav {
		a {
			font-size: 1em;
			line-height: 2em;
		}
	}
}

@media only screen and (max-width: 28em) {
	nav.main-nav {
		li {
			display: inline;
			&:nth-of-type(3):before {
				content: "\A";
				white-space: pre;
			}
		}
	}

	// make sure images aren't awkardly sized
	.post {
		img {
			&.alignleft, &.alignright {
				max-width: 100%;
				width: 100%;
				float: none;
			}
		}
	}

	// single-column view for compositions page
	.post .composition {
		h4, .list-details {
			float: none !important; /* RIP my career :'( */
		}
	}
}

// shrink font size a titch for very narrow screens
@media only screen and (max-width: 22em) {
	body {
		padding: 1rem;
		font-size: 0.8em;
	}

	.gallery.list {
		padding: 1rem;
	}
}

@import 'boilerplate-foot.scss';
