// Don't include anything that will output in this file

$white : #fff;
$black : #000;
$lightgray : #f8f8f8;
$medgray : #aaa;
$darkgray : #999;
$bggray : #ddd;
$lightblack : #333;

$sans-stack : "Open Sans", sans-serif;
$serif-stack : "Palatino", "Georgia", serif;

@mixin fancy-serif() {
	font-family: $serif-stack;

	// if we ever change to a nice serif font
	// text-rendering: optimizeLegibility;
	// font-feature-settings: "kern";
	// -webkit-font-feature-settings: "kern";
	// -moz-font-feature-settings: "kern";
	// -moz-font-feature-settings: "kern=1";
	// font-kerning: normal;
}

