body {
  padding-bottom: 0; }

.highlight, .filter-list, .digital_project .entry > * {
  background: #000;
  color: #fff;
  padding: 0.2rem;
  box-shadow: #333333 0.5rem 0.5rem 2rem -0.7rem; }
  .highlight a, .filter-list a, .digital_project .entry > * a {
    color: #fff; }

.filter-list {
  display: block;
  position: sticky;
  top: 1em;
  padding: 0.4em;
  font-size: 0.8em;
  width: 62.5em;
  list-style: none;
  z-index: 2; }

.filter__list-item {
  display: inline-block;
  margin-right: 1rem; }
  .filter__list-item:first-of-type {
    margin-left: 0.5rem; }
  .filter__list-item:last-of-type {
    margin-right: 0; }

.filter__label {
  display: inline-block; }

.filter__input {
  display: none; }

.filter__label {
  display: block;
  padding: 0.2rem;
  cursor: pointer;
  background: none;
  border: thin solid #fff;
  color: #fff; }
  .filter__input:checked ~ .filter__label {
    background: #fff;
    color: #000; }

.wrap {
  overflow: visible; }

.digital_project {
  display: block;
  width: 100vw;
  min-height: 100vh; }
  .digital_project:first-of-type {
    margin-top: 0;
    padding-top: 3rem; }
  .digital_project:last-of-type {
    margin-bottom: 0; }
  .digital_project.hidden {
    display: none; }
  .digital_project:not(.hidden) {
    margin: 0 0 4rem;
    padding: 3rem 0 6rem; }
  .digital_project:not(.hidden) ~ .digital_project:not(.hidden) {
    margin: 4em 0;
    padding: 6rem 0; }
  .digital_project header {
    text-align: left; }
  .digital_project .post-title {
    display: inline-block;
    line-height: 1.5em; }
  .digital_project .technologies p {
    display: inline; }
  .digital_project .entry {
    display: block;
    margin-top: 2rem;
    color: #fff; }
    .digital_project .entry > * {
      max-width: 35rem; }
    .digital_project .entry > .wp-post-image {
      float: right;
      width: calc(100% - 37rem);
      padding: 0;
      max-height: 23.33333rem;
      object-fit: cover;
      object-position: top; }
  .digital_project header, .digital_project .entry {
    transition: opacity 500ms ease; }
  .digital_project .post-bg {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: -1;
    transition: opacity 50ms;
    opacity: 0; }
    .digital_project .post-bg:after {
      content: " ";
      display: block;
      position: absolute;
      background: linear-gradient(transparent, rgba(102, 102, 102, 0.3));
      width: 100%;
      height: 50%;
      bottom: -2px;
      opacity: 0.5; }
    .digital_project .post-bg img {
      display: block;
      position: absolute;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      object-fit: cover;
      object-position: top;
      filter: blur(4px);
      transition: filter 500ms ease; }

@media only screen and (max-width: 60.5rem) {
  .digital_project .entry .wp-post-image {
    float: none;
    display: inline-block;
    margin: auto;
    width: 35rem;
    max-width: 100%; } }

/*# sourceMappingURL=digital.css.map */
