@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000;
  font-family: sans-serif; }

html {
  font-size: 1em;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

* {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4, h5, h6 {
  font-size: 1em;
  margin: 1.33em 0; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

::selection {
  background: #fff;
  color: #999;
  text-shadow: none; }

::-moz-selection {
  background: #fff;
  color: #999;
  text-shadow: none; }

html {
  min-height: 100%; }

body {
  padding: 3em 1em;
  background: #ddd;
  font-family: "Open Sans", sans-serif; }

a {
  color: #000; }

p, .item h4 {
  line-height: 1.618em; }

img.circle {
  border-radius: 50%; }

header {
  margin: 0 auto;
  text-align: center; }
  header a {
    text-decoration: none; }
  header h1 {
    font-size: 1.666em;
    margin: 0 0 1rem 0;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-weight: 700; }
  header .headshot {
    width: 7rem;
    max-width: 100%; }
  header .social img {
    height: 1em;
    opacity: 0.5;
    margin-right: 0.333em; }
  header .social a:last-of-type img {
    margin-right: 0; }
  header .incipit {
    width: 15em;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 0.8em;
    font-style: italic; }

nav {
  max-width: 100%;
  margin: 1em auto;
  text-align: center; }
  nav ul {
    list-style: none; }
  nav li {
    display: inline-block; }
  nav a {
    display: inline-block;
    font-size: 1.333em;
    line-height: 3.666em;
    padding: 0.5em;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-weight: normal;
    text-decoration: none; }
  nav li.current-menu-item a {
    font-weight: bold; }

.wrap {
  position: relative;
  width: 50em;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.post.category-intro {
  margin-bottom: 1em; }

.callout {
  font-size: 1.2em;
  padding: 1em;
  text-align: center; }
  .callout .button {
    display: inline-block;
    padding: 1em;
    background: #fff;
    margin-top: 1em;
    text-decoration: none;
    border-radius: 0.3em;
    box-shadow: #999 0 0.2em 1em -0.3em; }
    .callout .button:hover, .callout .button:focus {
      box-shadow: #999 0 0.25em 1em -0.2em; }
    .callout .button:active {
      box-shadow: #999 0 0.2em 1em -0.4em; }

.post, .web {
  margin: 0 auto 9em; }
  .post:last-of-type, .web:last-of-type {
    margin-bottom: 0; }
  .post header, .web header {
    background: #f8f8f8;
    padding: 1em; }
    .post header h1, .web header h1 {
      font-weight: normal;
      margin-bottom: 0; }
    .post header .meta, .web header .meta {
      margin-bottom: 0.66667rem; }
  .post .post-title, .web .post-title {
    margin-top: 0; }
    .post .post-title a, .web .post-title a {
      text-decoration: none; }
  .post aside, .web aside {
    font-size: 0.8em; }

.post .composition {
  padding-bottom: 1em;
  font-size: 0.8em; }
  .post .composition h4 {
    margin: 0;
    float: left; }
    .post .composition h4 .year {
      font-weight: normal; }
  .post .composition p {
    margin: 0 0 0 1.3333rem; }
  .post .composition .list-details.duration {
    float: right; }
    .post .composition .list-details.duration + .list-details {
      clear: left; }
  .post .composition .links a {
    display: inline-block;
    padding: 0.333em;
    margin-top: -0.333em;
    margin-bottom: -0.333em; }
    .post .composition .links a:first-of-type {
      margin-left: -0.333em; }

.entry *:last-child, .post *:last-child, .web *:last-child {
  margin-bottom: 0; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, .entry ul, .entry ol, .entry p, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post ul, .post ol, .post p, .web h1, .web h2, .web h3, .web h4, .web h5, .web h6, .web ul, .web ol, .web p {
  line-height: 1.618em;
  margin-bottom: 1rem; }
.entry p, .post p, .web p {
  margin: 1em 0; }
.entry ul, .post ul, .web ul {
  list-style: disc; }
.entry ul, .entry ol, .post ul, .post ol, .web ul, .web ol {
  margin: 1em 0; }
.entry li, .post li, .web li {
  margin-left: 1.66em; }
  .entry li ul, .entry li ol, .post li ul, .post li ol, .web li ul, .web li ol {
    margin-top: 0; }
  .entry li > ul, .post li > ul, .web li > ul {
    list-style: circle; }
    .entry li > ul li > ul, .post li > ul li > ul, .web li > ul li > ul {
      list-style: square; }
.entry blockquote, .post blockquote, .web blockquote {
  padding-left: 1em;
  border-left: 2em solid #f8f8f8;
  font-family: "Palatino", "Georgia", serif; }
  .entry blockquote p, .post blockquote p, .web blockquote p {
    line-height: 1.33;
    font-size: 0.9em; }
.entry [id^=attachment].alignnone, .post [id^=attachment].alignnone, .web [id^=attachment].alignnone {
  max-width: 100%; }
.entry img, .post img, .web img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }
  .entry img.alignleft, .post img.alignleft, .web img.alignleft {
    float: left;
    margin-right: 1em;
    max-width: 66.6667%; }
  .entry img.alignright, .post img.alignright, .web img.alignright {
    float: right;
    margin-left: 1em;
    max-width: 66.6667%; }
.entry .wp-caption-text,
.entry .wp-block-image figcaption, .post .wp-caption-text,
.post .wp-block-image figcaption, .web .wp-caption-text,
.web .wp-block-image figcaption {
  font-size: 0.8rem;
  text-align: right; }

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 9em; }
  .pagination a {
    display: block;
    background: #f8f8f8;
    padding: 1em;
    text-decoration: none;
    transition: background 250ms ease; }
    .pagination a:hover {
      background: #aaa; }
    .pagination a:focus {
      outline: thin dotted #333; }
    .pagination a:active {
      outline: thin solid #333; }
  .pagination .next-posts a:before {
    content: "← "; }
  .pagination .prev-posts a:after {
    content: " →"; }

@media only screen and (min-width: 45em) {
  .site-header {
    display: flex;
    max-width: 50em;
    justify-content: space-between;
    margin-bottom: 3rem; }

  .header__left {
    display: flex;
    flex-direction: column; }

  .header__right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 7rem; }

  .site-header h1 {
    margin: 1rem 0 0 0;
    order: 2; }

  .header__left a {
    order: 1; }

  .site-header .incipit {
    order: 3;
    margin: 0 auto; }

  .social {
    text-align: right; }

  .main-nav {
    margin: 1rem 0 0; }

  nav a {
    line-height: 1;
    padding: 0.5em 0 0.5em 1em; } }
@media only screen and (max-width: 37em) {
  nav.main-nav a {
    font-size: 1em;
    line-height: 2em; } }
@media only screen and (max-width: 28em) {
  nav.main-nav li {
    display: inline; }
    nav.main-nav li:nth-of-type(3):before {
      content: "\A";
      white-space: pre; }

  .post img.alignleft, .post img.alignright {
    max-width: 100%;
    width: 100%;
    float: none; }

  .post .composition h4, .post .composition .list-details {
    float: none !important;
    /* RIP my career :'( */ } }
@media only screen and (max-width: 22em) {
  body {
    padding: 1rem;
    font-size: 0.8em; }

  .gallery.list {
    padding: 1rem; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
